<app-quote-details (quoteData)="displayFunction($event)"></app-quote-details>
<div class="container-fluid part">
    <div class="display" *ngFor="let quote of quotes; let i=index" >
    <ul>
            <li>Name:{{quote.Name}}</li>
            <li>Author:{{quote.Author}}</li>
            <li appHighlight *ngIf="quote.votes === count && quote.votes>0">Quote:{{quote.Quote}}</li>
            <li>Timeposted:{{quote.Timeposted|date}}</li>
            <li>Quote Posted:{{quote.Timeposted|dateCount}}days ago</li>
        </ul>
    <div>
        <div class="row">
            <div class="col-md-4">
                <button (click)="upvote(i)">

                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>

                     UpVote{{quote.votes}}
                  </button>
            </div>
            <div class="col-md-4">
                <app-downvote></app-downvote>
            </div>
            <div class="col-md-4">
                <app-delete (delete)="myDeletes($event,i)"></app-delete>
          </div>
        </div>
    </div>
</div>
</div>
